{
"plugins": [
    ["module-resolver", {
      "alias": {
        "libs": "./src/libs",
        "components": "./src/components",
        "services": "./src/services",
        "pages": "./src/pages"
      }
    }]
     ]
}